MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/m5c-inventory?retryWrites=true&w=majority"
PORT=5000
FRONTEND_URL="*"
NODE_ENV=production
INVENTORY_MANAGEMENT_MASTER_ADMIN_EMAIL="master@m5clogs.com"
INVENTORY_MANAGEMENT_MASTER_ADMIN_PASSWORD="your-strong-password"
JWT_SECRET="your-jwt-secret-key"
